// Variables
// ==========================================
$brand: 		#6441A5;
$darkAccent: 	#3E323F;
$lightAccent: 	#FCF0C2;
$black: 		#0D0D0D;
$white: 		#FDFDFD;
$font: 			"Pontano Sans";









// Animations
// ==========================================
@keyframes warrior {
	from { color: $white; text-shadow: 0 0 9px #333; }
	50% { color: $lightAccent; text-shadow: 0 0 18px $lightAccent; }
	to { color: $white; text-shadow: 0 0 9px #333; }
}
@-webkit-keyframes warrior {
	from { color: $white; -webkit-text-shadow: 0 0 9px #333; }
	50% { color: $lightAccent; -webkit-text-shadow: 0 0 18px $lightAccent; }
	to { color: $white; -webkit-text-shadow: 0 0 9px #333; }
}
@-moz-keyframes warrior {
	from { color: $white; -moz-text-shadow: 0 0 9px #333; }
	50% { color: $lightAccent; -moz-text-shadow: 0 0 18px $lightAccent; }
	to { color: $white; -moz-text-shadow: 0 0 9px #333; }
}
@-ms-keyframes warrior {
	from { color: $white; -ms-text-shadow: 0 0 9px #333; }
	50% { color: $lightAccent; -ms-text-shadow: 0 0 18px $lightAccent; }
	to { color: $white; -ms-text-shadow: 0 0 9px #333; }
}
@-o-keyframes warrior {
	from { color: $white; -o-text-shadow: 0 0 9px #333; }
	50% { color: $lightAccent; -o-text-shadow: 0 0 18px $lightAccent; }
	to { color: $white; -o-text-shadow: 0 0 9px #333; }
}











// Imports
// ==========================================
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);











// Primary
// ==========================================
body {
	font-family: $font;
	background-color: $black;
	color: $white;
}

.hidden {
	display: none;
	visibility: hidden;
}

.user-logo {
	max-width: 100%;
	height: 47px;
	float: left;
	border-left: 3px solid $darkAccent;
}











// Header
// ==========================================
header {
	background-color: $brand;
	height: 50px;
	border-bottom: 3px solid $darkAccent;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;
}

#warrior {
	padding: 15px;
		text-transform: lowercase;
		letter-spacing: 2px;
	a {
		
		
		
		animation-name: warrior;
		animation-duration: 7s;
		animation-iteration-count: infinite;
		-webkit-animation-name: warrior;
		-webkit-animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: warrior;
		-moz-animation-duration: 7s;
		-moz-animation-iteration-count: infinite;
		-ms-animation-name: warrior;
		-ms-animation-duration: 7s;
		-ms-animation-iteration-count: infinite;
		-o-animation-name: warrior;
		-o-animation-duration: 7s;
		-o-animation-iteration-count: infinite;
	}
}











// Navigation
// ==========================================
nav {
	ul {
		list-style-type: none;
		float: right;
		margin: 0 -15px 0 0;

		li {
			float: left;

			&:hover {
				form, ul, span {
					display: block;
				}
			}

			a {
				padding: 10px 10px 12px 10px;
				display: block;
				color: $white;
				-webkit-transition: all 0.15s ease-in-out;
				-moz-transition: all 0.15s ease-in-out;
				-ms-transition: all 0.15s ease-in-out;
				-o-transition: all 0.15s ease-in-out;
				transition: all 0.15s ease-in-out;

				&:hover {
					background-color: $lightAccent;
					color: $darkAccent;
				}
			}

			ul {
				position: absolute;
				display: none;
				background-color: $darkAccent;
				padding: 3px;
				margin: 0;
				z-index: 10;

				li {
					list-style-type: none;
					float: none;
					color: $white;
					font-size: 0.8em;
				}
			}

			span {
				position: absolute;
				display: none;
				padding: 10px;
				background-color: $darkAccent;
				top: 50px;
				width: 100%;
			}

			form {
				display: none;
				position: absolute;
				padding: 10px;
				background-color: $darkAccent;
				z-index: 10;

				input {
					width: 100%;
					border: none;
					margin: 0;
					padding: 5px;
					text-align: center;
					font-family: $font;
					margin-bottom: 5px;
				}

				button {
					width: 100%;
					margin: 0;
					padding: 0;
					background-color: $lightAccent;
					color: $darkAccent;
					font-size: 1em;
					font-family: $font;

					&:hover {
						background-color: $brand;
						color: $lightAccent;
					}
				}
			}
		}
	}

	#remove-stream, #change-chat, #following, #events {
		li {
			cursor: pointer;
			padding: 3px;
			border-left: 3px solid $darkAccent;

			&:hover {
				color: $lightAccent;
				border-left: 3px solid $lightAccent;
			}
		}
	}

	#user {
		a {
			float: left;
		}
	}

	#logout {
		cursor: pointer;
		color: $white;
		margin-top: -3px;

		&:hover {
			background-color: $lightAccent;
			color: $black;
		}
	}
}











// Message
// ==========================================
.message {
	position: fixed;
	display: none;
	text-align: center;
	top: 0;
	padding:  15% 15%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);

	h1 {
		text-align: center;
		color: $brand;
	}
}










// Main
// ==========================================
main {
	margin-top: 65px;
	text-align: center;

	i {
		display: inline-block;
		color: $lightAccent;

		&:hover {
			color: $white;
		}
	}

	h3 {
		color: $brand;

		&:hover {
			color: $white;
		}
	}

	i, h3{
		-webkit-transition: color 0.15s ease-in-out;
		-moz-transition: color 0.15s ease-in-out;
		-ms-transition: color 0.15s ease-in-out;
		-o-transition: color 0.15s ease-in-out;
		transition: color 0.15s ease-in-out;
	}
}











// Streams
// ==========================================
.stream-wrapper {
	.stream-intro {
		h1 {
			font-weight: bold;
			font-family: $font;
			color: $brand;
			text-transform: lowercase;
			border-bottom: 3px solid $brand;
			margin-bottom: 25px;
		}

		hr {
			border-width: 3px 0 0;
			border-color: $brand;
		}
	}

	.stream-video {
		position: relative;
		margin-bottom: 30px;
	}
}

.updates, .tips {
	text-align: left;

	h4 {
		color: $brand;
	}

	ul {
		padding: 0;

		li {
			font-size: 0.8em;
		}
	}
}










// Chats
// ==========================================
.chat-wrapper {
	position: fixed;
	z-index: 9;
	top: 65px;
	right: 0;
	background-color: rgb(30, 30, 30) !important;
	height: 100%;

	.chat-intro {
		position: relative;
		top: 40%;

		h4 {
			color: $white;
			margin: 0;
		}

		a {
			color: $brand;
			-webkit-transition: color .15s ease-in-out;
			-moz-transition: color .15s ease-in-out;
			-ms-transition: color .15s ease-in-out;
			-o-transition: color .15s ease-in-out;
			transition: color .15s ease-in-out;

			&:hover {
				color: $lightAccent;
			}
		}
	}

	.current-chat {
		text-align: center;
		background-color: $darkAccent;
		margin: 0 -15px;

		h5 {
			color: $white;
			background-color: $darkAccent;
			font-family: $font;
			font-size: 0.7em;
			padding: 5px 0;
			margin: 0;
			display: block; 
			float: left;
			width: 30%;
		}

		span {
			display: block;
			float: left;
			width: 70%;
			background-color: $brand;
			padding: 7px 0;
			font-size: 0.7em;
			margin: 0;
		}
	}

	.chat {
		height: 100%;
		width: 100%;
		margin-right: -15px;
		padding-bottom: 127%;
		overflow: hidden;
		position: relative;

		iframe {
			width: 100%;
			height: 81%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}










